/**
 * CSS vlastní styly pro administrátorké rozhraní bootstrapu.
 */

body {
	padding-top: 50px; /* Horní menu */
}

/* Obrázek na úvodní stránce v pozadí, popřípadě na jiných zvolených stránkách */
body.background {
	background-image: url("../background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}

table.table-stylized {
	margin: 20px 0;
}

table.table-stylized tr td, table.table-stylized tr th {
	text-align: center;
	vertical-align: middle;
}

/* V buňkách se bude zobrazovat přesně to, co je v HTML kódu, resp. všechny mezery a nové řádky. */
/* Ekvivalentní s proměnnou, která prošla pouze přes htmlspecialchars(); */
table.plain-text-table tbody td {
	white-space: pre-wrap;
}

.value {
	white-space: pre-wrap;
	background: #E8E8E8;
	padding: 2px 5px;
}
.border {
	border: 1px solid #ddd;
	padding: 5px 10px;
	border-radius: 4px;
}


/* Např, tabulka, kde nelze ozn. text */
.notUserSelect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

/* Styl pro tabulku, kde lze vybírat data */
.selectedRow, .selectedRow td {
	background: #EEA;
}

label {
	font-weight: normal;
}

textarea {
	resize: vertical;
}
